Practica5.txt
[{"id":"6911f79c.5c7a98","type":"ui_button","z":"587a330e.cf926c","name":"","group":"277a94a.e73c96","order":1,"width":0,"height":0,"passthru":false,"label":"CerrarPinza","tooltip":"","color":"black","bgcolor":"","icon":"","payload":"65","payloadType":"num","topic":"","x":143.5,"y":216.66668701171875,"wires":[["acefce46.058d8"]]},{"id":"b4bf67f4.6e9d28","type":"ui_slider","z":"587a330e.cf926c","name":"","label":"Servo","tooltip":"","group":"2277a94a.e73c96","order":4,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"180","step":1,"x":157.5,"y":421.66668701171875,"wires":[["acefce46.058d8"]]},{"id":"553154ec.c3bc4c","type":"ui_gauge","z":"587a330e.cf926c","name":"","group":"2277a94a.e73c96","order":5,"width":0,"height":0,"gtype":"donut","title":"Servoposition ","label":"position","format":"{{value}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":609.5,"y":268.66668701171875,"wires":[]},{"id":"95e40015.06274","type":"ui_button","z":"587a330e.cf926c","name":"","group":"2277a94a.e73c96","order":3,"width":0,"height":0,"passthru":false,"label":"AbrirPinza","tooltip":"","color":"black","bgcolor":"","icon":"","payload":"135","payloadType":"num","topic":"","x":138.5,"y":359.3333740234375,"wires":[["acefce46.058d8"]]},{"id":"acefce46.058d8","type":"function","z":"587a330e.cf926c","name":"node","func":"\nreturnmsg;","outputs":1,"noerr":0,"x":385.5000305175781,"y":274.3333740234375,"wires":[["553154ec.c3bc4c","6d5bd912.6af598","ba5b9141.2ca42"]]},{"id":"6d5bd912.6af598","type":"linkout","z":"587a330e.cf926c","name":"slider","links":["7adf6075.c8a92"],"x":552.5,"y":343.33331298828125,"wires":[]}{"id":"7adf6075.c8a92","type":"linkin","z":"587a330e.cf926c","name":"","links":["6d5bd912.6af598"],"x":67.19230651855469,"y":418.74365234375,"wires":[["b4bf67f4.6e9d28"]]},{"id":"5c6068a3.f05b18","type":"ui_button","z":"587a330e.cf926c","name":"","group":"2277a94a.e73c96","order":2,"width":0,"height":0,"passthru":false,"label":"50%","tooltip":"","color":"black,"bgcolor":"","icon":"","payload":"90","payloadType":"num","topic":"","x":159.5,"y":292.66668701171875,"wires":[["acefce46.058d8"]]},{"id":"ba5b9141.2ca42","type":"arduinoout","z":"587a330e.cf926c","name":"ArduinoUNO","pin":"11","state":"SERVO","arduino":"8a4851b.74f28b","x":551,"y":200,"wires":[],"l":false},{"id":"2277a94a.e73c96","type":"ui_group","z":"","name":"ServoControl","tab":"9abfce25.a8396","order":2,"disp":true,"width":"6","collapse":false},{"id":"8a4851b.74f28b","type":"arduino-board","z":"","device":"COM9"},{"id":"9abfce25.a8396","type":"ui_tab","z":"","name":"ArduinoUNO","icon":"dashboard","order":2,"disabled":false,"hidden":false}]|